.Content {
  height: 550px;
  width: 50%;
  padding: 8px;
  margin: auto;
  background-color: #f4f4f4;
  overflow: auto;
  direction: ltr;
  text-align: left;
}

.offerItem {
  display: flex;
  background-color: lightslategray;
}
